<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/main.css">
		<title>One</title>
	</head>
	<body>
		<h1 id="title">Welcom to home page</h1>
		<div id="information">
			id:<b class="information"><%=information.id%></b>
			ip:<b class="information"><%=information.ip%></b>
			browser:<b class="information"><%=information.browser%></b>
			os:<b class="information"><%=information.os%></b>
		</div>
	</body>
</html>
